.header {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .header {
    justify-content: center;
  }
}

.header__logo {
  margin: 10px 10px;
  background-color: #fff;
}

.header img {
  height: 80px;
}
